body {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	cursor: url(../img/boom.png), pointer;
}



div {
	border: solid 1px black;
	text-align: center;
	font-size: 30px;
	color: crimson;
	height: 80px;
	width: 80px;
	display: table-cell;
	padding: 0;
}

#bomb-it {
	margin-left: 37%;
}

button {
	background-color: black;
	color: #fff;
	font-size: 15px;
	padding: 5px;
	margin-top: 30px;
	border: none;
	cursor: url(../img/boom.png), pointer;
	transition: color .3s ease-out
}

button:hover {
	background-color: slateGray;
}


.number {
	margin: 0;
	color: #fff;
	transition: color .3s ease-out
}


.numberShow {
	color: crimson;
}

img {
	width: 350px;
	margin: 2% 35%;
}
