body {
	text-align: center;
}



#bomb-it {
	margin-left: 37%;
	border: solid 1px black;
	text-align: center;
	font-size: 40px;
	height: 80px;
	width: 80px;
	display: table-cell;
	padding: 0;
}

button {
	background-color: #000;
	color: fff;
	font-size: 20px;
	margin-top: 10px;
	padding: 1%;
	border: none;
}

img {
	width: 350px;
	margin: 2% 35%;
}

.number {
	margin: 0;
	color: white;
}

.numberShow{
	color: black;
}

